---
layout: page
title: Will Russell
subtitle: Computer Science Student and Hackathon Community Builder
use-site-title: true
---

<h2 class="section-title">Experience</h2>

<div class="experience-container">
  {%- for item in site.data.experience -%}
  <div class="item">
    <img class="icon" src="{{ item.icon | relative_url }}" alt="picture of {{ item.title }}">
    <div class="info">
      <p class="title">{{ item.title }}</p>
      <p class="date">{{ item.date }}</p>
      <p class="description">{{ item.description1 }}</p>
      <p class="description">{{ item.description2 }}</p>
      <p class="description">{{ item.description3 }}</p>
    </div>
  </div>
  {%- endfor -%}
</div>

<h2 class="section-title">Hackathons</h2>

<div class="item-container">
  {%- for item in site.data.hackathons -%}
  <div class="item">
    <img class="icon" src="{{ item.icon | relative_url }}" alt="picture of {{ item.event }}">
    <div class="info">
      <p class="title">{{ item.event }}</p>
      <p class="date">{{ item.date }}</p>
      <p class="description">Winner of {{ item.prize }}</p>
      <a class="description" href={{ item.link }}>
      <p class="description">{{ item.project }}</p>
      </a>
    </div>
  </div>
  {%- endfor -%}
</div>

<h2 class="section-title">Tech Community</h2>

<div class="item-container">
  {%- for item in site.data.community -%}
  <div class="item">
    <img class="icon" src="{{ item.icon | relative_url }}" alt="picture of {{ item.title }}">
    <div class="info">
      <p class="title">{{ item.title }}</p>
      <p class="date">{{ item.date }}</p>
      <p class="description">{{ item.description }}</p>
    </div>
  </div>
  {%- endfor -%}
</div>

<h2 class="section-title">Sailing</h2>

<div class="item-container">
  {%- for item in site.data.sailing -%}
  <div class="item">
    <img class="icon" src="{{ item.icon | relative_url }}" alt="picture of {{ item.title }}">
    <div class="info">
      <p class="title">{{ item.title }}</p>
      <p class="date">{{ item.date }}</p>
      <p class="description">{{ item.description }}</p>
    </div>
  </div>
  {%- endfor -%}
</div>

<div class="button-container">
  <a class="button" href="./CV.pdf">Download CV</a>
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">1
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
